<nav class="navbar navbar-expand-sm bg-body-light border-bottom sticky-top ">
    <div class="container-fluid m-5">
      <a class="navbar-brand" href="listings"><img src="https://cdn-icons-png.freepik.com/256/11499/11499703.png?ga=GA1.1.1476991640.1707029425" alt="Home icon" height="40px"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="listings">Home</a>
          <a class="nav-link" href="/listings">All Listings</a>
          <a class="nav-link" href="/listings/new">Add new Listing</a>
        </div>
        <div class="navbar-nav ms-auto">
          <% if(!currUser){ %>
            <a class="nav-link active"href="/signup">Signup</a>
            <a class="nav-link" href="/login">Login</a>
          <% } %>
          <% if(currUser){ %>
          <a class="nav-link" href="/logout">Logout</a>
          <% } %>
        </div>
      </div>
    </div>
  </nav>